.headerClass{
    position: absolute;
    width: 99.75%;
    height: 8%;
    // border: 1px solid black;
    top: 0%;
    left: 0%;
    background-color: #f7f7f794;
}
.bodyClass{
    position: absolute;
    width: 100%;
    height: 91.65%;
    // border: 1px solid black;
    top: 8.25%;
    // left: -0.75%;
}
.logoClass{
    position: relative;
    height: 90%;
    width: 10%;
    left: 1.5%;
    top: 5%;
}
.hondaLogoclass{
    position: relative;
    height: 90%;
    width: 10%;
    left: 80%;
    top: 5%;
}
.leftContainer{
    height: 100%;
    width: 15%;
    background-color: #5e5e5e;
}
.rightContainer{
    height: 100%;
    width: 85%;
    background-color: #d9d9d9;
}
.upperContainer{
    width: 100%;
    height: 20%;
    background-color: #4e4e4e;
}
.lowerContainer{
    width: 100%;
    height: 80%;
}
.adminProfileClass{
    height: 50%;
    width: 30%;
    cursor: pointer;
}
.greet{
    color: white;
    margin: 0px;
    font-family: "Inria Sans", sans-serif;
}
.chartHeading{
    font-family: "Inria Sans", sans-serif;
    margin: 0px;
    text-align: center; 
}
.iconsContainer{
    position: relative;
    height: 55%;
    width: 20%;
    cursor: pointer;
    border-radius: 50%;
}
.iconsContainer:hover{
    -webkit-box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
    -moz-box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
    box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
}
.featureContainer{
    position: relative;
    height: 27%;
    width: 60%;
    left: 5%;
    cursor: pointer;
    display: inline-block;
}
.adminFeatureClass{
    width: 100%;
    height: 90%;
    // border: 1px solid black;
    position: relative;
    top: 0%;
}
.adminFeatureContainer{
    position: relative;
    height: 16.66%;
    width: 100%;
    // border: 1px solid black;
}
.upperRightContainer{
    position: relative;
    top: 2%;
    left: 2%;
    height: 18%;
    width: 96%;
    background-color: white;
    border-radius: 15px;
}
.middleRightContainer{
    position: relative;
    top: 4%;
    left: 2%;
    height: 52%;
    width: 96%;
    background-color: white;
}
.lowerRightContainer{
    position: relative;
    top: 6%;
    left: 2%;
    height: 22%;
    width: 96%;
    background-color: white;
}
.pending_data_container_dashboard{
    height: 60%;
    width: 90%;
    background-color: #afcfd3;
    border-radius: 10px;
}
.pending_data_container{
    height: 70%;
    width: 88%;
    background-color: #afcfd3;
    border-radius: 10px;
}
.leftContainerClass{
    height: 100%;
    width: 5%;
    background-color: #5e5e5e;
}
.rightContainerClass{
    height: 100%;
    width: 95%;
    background-color: #d9d9d9;
}
.smallProfileClass{
    height: 35%;
    width: 60%;
}
.iconsLeftContainer{
    position: relative;
    height: 55%;
    width: 60%;
    cursor: pointer;
    border-radius: 50%;
}
.iconsLeftContainer:hover{
    -webkit-box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
    -moz-box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
    box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
}

.pending_report_header{
    color: black;
    text-align: center;
}
.pending_report_outer_container{
    height: 90%;
    width: 94%;
    position: relative;
    left: 3.5%;
    top: 2%;
    overflow-y: auto;
}
.pending_report_container{
    height: 17%;
    width: 99%;
    // border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom:2%;
}
.camDetail_container{
    height: 75%;
    width: 35%;
    // border: 1px solid black;
    background-color: #4e4e4e;
    border-radius: 15px;
}
.camera_header{
    // color: black;
    text-align: center;
}
.w-50{
    width: 60%;
    height: 7%;
}
.inputClass{
    height: 90%;
    width: 55%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid white;
}
.submitBtn{
    height: 8%;
    width: 20%;
    background-color: #5e5e5e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    // border: 1px solid #5e5e5e;
    border: ridge;
}
label{
    color: white;
}
.inputClass:focus{
    outline: none;
}
.searchContainer{
    background-color: white;
    height: 99.1%;
    width: 99.5%;
    position: relative;
    // left: 0.1%;
    border-top: 5px solid #080808ad;
    border-left: 6px solid #080808ad;
}
.searchByDate{
    position: relative;
    border-radius: 20px;
    width: 60%;
    height: 65%;
    // bottom: 15%;
}
.searchById{
    position: relative;
    border-radius: 20px;
    width: 60%;
    height: 28%;
    // bottom: 15%;
}
.idSearchContainer{
    height: 55%;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
}
.innerSearchContainer{
    height: 100%;
    width: 60%;
}
#subHeading1{
    display: inline;
    position: relative;
    left: 36%;
    top: 5%;
    font-size: 2.5rem;
}
#subHeadingId{
    display: inline;
    position: relative;
    // left: 36%;
    // top: 5%;
    font-size: 2rem;
}
.jobId_input{
    height: 36%;
    width: 36%;
    font-size: 16px;
}
#datePick{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    top: 18%;
    left: 5%;
    height: 10%;
}

#date{
    margin-left: 3%;
    width: 50%;
    height: 100%;
}

#timePick{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 89%;
    top: 36%;
    left: 5%;
    height: 10%;
}

#time{
    margin-left: 3%;
    width: 50%;
    height: 100%;
}

#start-time, #end-time{
    width:46%;
    height: 72%;
}

#start-date, #end-date{
    width: 45%;
    height: 70%;
}
#start-time:focus, #end-time:focus, #start-date:focus, #end-date:focus{
    outline: none;
}
#searchButton{
    position: relative;
    top: 50%;
    left: 47%;
    height: 10%;
    width: 12%;
    background-color: #4e4e4e;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#searchButton:hover{
    background-color: #000000de;
}
.btnContainer{
    height: 50%;
    width: 8%;
    // border: 1px solid black;
}
.warningContainer{
    height: 25%;
    width: 45%;
    background-color: #f7f7f794;
    border-radius: 10px;
}
.warning_inner_container{
    width: 100%;
    height: 50%;
    text-align: center;
}
.btnSize{
    height: 45%;
    width: 13%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.backBtnSize{
    position: absolute;
    top: 92%;
    left: 90%;
    height: 7%;
    width: 8%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.backBtnSizeToReport{
    position: absolute;
    bottom: 92%;
    left: 90%;
    height: 7%;
    width: 8%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}.buttonContainer{
    height: 8.5%;
    position: relative;
    bottom: 90.7%;
    // border: 1px solid black;
    width: 99.6%;
}
.submitBtnSize{
    position: absolute;
    top: 92%;
    left: 75%;
    height: 7%;
    width: 8%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.adminDashboardChart1{
    height: 97%;
    width: 49%;
}
.adminDashboardChart2{
    height: 98%;
    width: 49%;
}
.charts{
    border-style: ridge;
    border-left: 2px;
    border-top: 2px;
    height:92%;
    width:100%; 
    top: 1%;
}
.pie_chart{
    height:100%;
    width:100%; 
    border-radius: 15px;
}
.reportDataClass{
    height: 100%;
    width: 99.9%;
    // overflow: auto;
    // border: 1px solid black;
}
.report_table_class{
    position: relative;
    height: 90%;
    width: 100%;
    top: 9%;
    overflow: auto;
    border: 1px solid black;
}
.pendingReportsDetails{
    height: 99%;
    width: 25%;
}
.innerReportDetails{
    height: 30%;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffffb7;
}
.innerChartDetails{
    height: 30%;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffffb7;
}
.pendingReportTable{
    position: relative;
    height: 88%;
    width: 70%;
    // border-style: ridge;
    top: -4%;
    background-color: #ffffffb7;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    overflow: auto;
}
.partContainer{
    height: 24.75vh;
    width: 91%;
    // border: 1px solid black;
    position: relative;
    left: 4%;
    top: 7%;
    background-color: #afcfd3;
    overflow: auto;
    border-radius: 10px;
}
.partName{
    position: relative;
    left: 5%;
    top: 5%;
    display: inline;
    font-family: "Inria Sans", sans-serif; 
}
.subPartContainer{
    position: relative;
    margin-top: 2%;
    // left: 5%;
    // padding: 10px;
}
// .pending_report_checkbox{
//     position: relative;
//     left: 5%;
// }
.pending_report_subPartName{
    position: relative;
    right: 5%;
    display: inline;
    font-family: "Inria Sans", sans-serif; 
}
.pending_report_subPartStatus{
    position: relative;
    left: 5%;
    display: inline;
    font-family: "Inria Sans", sans-serif; 
}
.ff{
    font-family: "Inria Sans", sans-serif; 
}
.wholeRightContainer{
    height: 100%;
    width: 99.75%;
    background-color: #d9d9d9;
    // opacity: 67%;
}
.infoContainer{
    height: 70%;
    width: 70%;
    // background-color: rgb(88 88 88 / 65%);
}
.profileInfo{
    height: 90%;
    width: 40%;
    background-color: #212121de;
    opacity: 80%;
    border-radius: 16px;
    // backdrop-filter: blur(5px);
}
.profileInfo h2{
    text-align: center;
    height: 13%;
    line-height: 2;
    color: white;
    font-family: "Inria Sans", sans-serif;
}
.changePasswordContainer{
    height: 65%;
    width: 95%;
    // border: 1px solid black;
}
.profileInfoUpper{
    height: 35%;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    background-color: black;
}
.profileInfoUpper img{
    height: 80%;
    width: 30%;
}
.changePasswordContainerClass{
    height: 80%;
    width: 95%;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
}

$primary: #5e0466;
$secondary: #ef38e6;
$white: #000000;
$gray: #9b9b9b;
.form__group {
    position: relative;
    padding: 10px 0 0;
    // margin-top: 10px;
    width: 60%;
  }
  
.form__field {
font-family: inherit;
width: 100%;
border: 0;
border-bottom: 2px solid $gray;
outline: 0;
font-size: 130%;
color: $white;
padding: 7px 0;
background: transparent;
transition: border-color 0.2s;
&::placeholder {
    color: transparent;
    }

    &:placeholder-shown ~ .form__label {
    font-size: 130%;
    cursor: text;
    top: 20px;
    }
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 100%;
    color: $gray;
    font-family: "Inria Sans", sans-serif;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 100%;
      color: $primary;
      font-weight: 400;
    }
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
    font-family: "Inria Sans", sans-serif;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
  .login_input {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
    // margin: 0 0 13% 0;
    position: relative;
    top: 4%;
  }
  .password__group {
    position: relative;
    padding: 10px 0 0;
    // margin-top: 10px;
    width: 60%;
  }
  
  .password__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 130%;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 130%;
      cursor: text;
      top: 20px;
    }
  }

  .Cnfpassword__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 130%;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 130%;
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 100%;
    color: $gray;
    font-family: "Inria Sans", sans-serif;
  }
  
  .password__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 100%;
      color: $primary;
      font-weight: 400;
    }
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
    font-family: "Inria Sans", sans-serif;
  }
  /* reset input */
  .password__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
  .Cnfpassword__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 100%;
      color: $primary;
      font-weight: 400;
    }
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
    font-family: "Inria Sans", sans-serif;
  }
  /* reset input */
  .Cnfpassword__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
  .changePasswordBtn{
    width: 24%;
    height: 12%;
    background-color: #404040;
    color: white;
    position: relative;
    top: 6%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}
.changePasswordBtn:hover{
    background-color: black;
}
.viewPasswordClass{
    // height: 30%;
    width: 8%;
    position: relative;
    left: 88%;
    bottom: 46%;
    object-fit: cover;
    cursor: pointer;
}
.checkPointsImgClass{
    height: 96%;
    width: 16%;
}
.iconClass{
    width: 63%;
    height: 20%;
}
.checkPointsTextClass{
    height: 96%;
    width: 50%;
}
.textClass{
    height: 18%;
    width: 99%;
    position: relative;
    left: 18%;
    // text-align: center;
    line-height: 30px;
    font-family: "Inria Sans", sans-serif;
}
.checkPointsCountClass{
    height: 96%;
    width: 16%;
}
.countClass{
    width: 80%;
    height: 18%;
    text-align: center;
    line-height: 30px;
    text-decoration: underline;
    font-family: "Inria Sans", sans-serif;
}
.img_class{
    cursor: pointer;
}
.img_class:hover{
    color: #0575E6;
}
.bigger_image{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
    position: absolute;
    left: 0%;
    z-index: 100;
    cursor: pointer;
    // top: 10%;
}
.zoomed_image{
    height: 80%;
    width: 80%;
    border-radius: 10px;
}






.bg-color_white{
    background-color: white;
    color: black;
}
.bg-color_black{
    background-color: #000000e0;
    color: white;
}
.bg-color_black:hover{
    background-color: black;
    color: white;
}
.bg-color_green{
    background-color: #1bf372;
    color: white;
}
.bg-color_green:hover{
    background-color: #0f9c47;
    color: white;
}
.bg-color_red{
    background-color: #ff4545;
    color: white;
}
.bg-color_red:hover{
    background-color: #d61c1c;
    color: white;
}
.overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    // z-index: 10;
    // left: 0;
    // top: 10vh;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
}

.link{
    color: #1a67b4;
    // color: black;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover{
    color: #1a67b4;
}

.h-100{
    height: 70%;
    width: 35%;
    opacity: 0.3;
    cursor: pointer;
}
.h-100:hover{
    opacity: 1;
}

.w-10{
    width: 10%;
    text-align: center;
    color: black;
}

.w-15{
    width: 15%;
    text-align: center;
    color: black;
}
.w-30{
    width: 30%;
    text-align: center;
    color: black;
}
.w-40{
    width: 40%;
    text-align: center;
    color: black;
}
.w-45{
    width: 45%;
    text-align: center;
    color: black;
}
.w-75{
    width: 75%;
    text-align: center;
    color: black;
}

.f-10{
    font-size: 10px;
}

.h_70{
    height: 70%;
    width: auto;
}
.w_100{
    width: 100%;
    height: auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.flex-row-even{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.flex-col-even{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.shadow{
    -webkit-box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
    -moz-box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
    box-shadow: 0px 4px 13px 0px rgba(60, 54, 235, 0.8);
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #eeece9;
    box-shadow: inset 0 0 5px darkgrey; 
    border-radius: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to right, #517fa4 0%, #243949  51%, #517fa4  100%);  */
    background-image: linear-gradient(to bottom, #0575E6 0%, #021B79  100%);
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #0575E6 0%, #021B79  100%);
  }








  /* app.component.css */

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    text-align: center;

  }
  
  th {
    // background-color: #f2f2f2;
    padding: 8px;
  }
  
  .subparts {
    // padding-left: 20px;
    border: 1px solid #f2f2f2;
  }
  .subparts:hover{
    background-color: #8a8888;
  }

//   .subparts div {
//     border: 1px solid black; /* Add a border to each subpart */
//     margin-bottom: 2px; /* Adjust the margin for better spacing */
//   }


#tableContentNotAvailable{
    height: 100%;
    width: 100%;
}
// th, tr, td{
//     border: 1px solid rgb(201, 200, 200);
//     padding: 1%;
// }

table tr:nth-child(odd){background-color: #F8F7FF;}

table tr:hover {background-color: #ddd;}


.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    left: 3%;
    top: 11%;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    /* background-color: rgb(255, 65, 65); */
    /* background-image: linear-gradient(to left, #190A05 0%, #870000  100%); */
    /* background-image: linear-gradient(to left, #021B79 0%, #0575E6  100%); */
    background-image: linear-gradient(to bottom, #000000e0 0%, #314755  100%);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 270deg;
    position: relative;
    bottom: 3%;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 10px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 3px;
    padding-top: 30px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }




//   .button {
//     --width: 100px;
//     --height: 35px;
//     --tooltip-height: 35px;
//     --tooltip-width: 90px;
//     --gap-between-tooltip-to-button: 18px;
//     --button-color: #1163ff;
//     --tooltip-color: #fff;
//     width: var(--width);
//     height: var(--height);
//     background: var(--button-color);
//     position: relative;
//     bottom: 60%;
//     left: 90%;
//     text-align: center;
//     border-radius: 0.45em;
//     font-family: "Arial";
//     transition: background 0.3s;
//   }
  
//   .button::before {
//     position: absolute;
//     content: attr(data-tooltip);
//     width: var(--tooltip-width);
//     height: var(--tooltip-height);
//     background-color: var(--tooltip-color);
//     font-size: 0.9rem;
//     color: #111;
//     border-radius: .25em;
//     line-height: var(--tooltip-height);
//     bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
//     left: calc(50% - var(--tooltip-width) / 2);
//   }
  
//   .button::after {
//     position: absolute;
//     content: '';
//     width: 0;
//     height: 0;
//     border: 10px solid transparent;
//     border-top-color: var(--tooltip-color);
//     left: calc(50% - 10px);
//     bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
//   }
  
//   .button::after,.button::before {
//     opacity: 0;
//     visibility: hidden;
//     transition: all 0.5s;
//   }
  
//   .pdfText {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .button-wrapper,.pdfText,.icon {
//     overflow: hidden;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     left: 0;
//     color: #fff;
//   }
  
//   .pdfText {
//     top: 0
//   }
  
//   .pdfText,.icon {
//     transition: top 0.5s;
//   }
  
//   .icon {
//     color: #fff;
//     top: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .icon svg {
//     width: 24px;
//     height: 24px;
//   }
  
//   .button:hover {
//     background: #6c18ff;
//   }
  
//   .button:hover .pdfText {
//     top: -100%;
//   }
  
//   .button:hover .icon {
//     top: 0;
//   }
  
//   .button:hover:before,.button:hover:after {
//     opacity: 1;
//     visibility: visible;
//   }
  
//   .button:hover:after {
//     bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
//   }
  
//   .button:hover:before {
//     bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
//   }
  

.botao {
    width: 8%;
    height: 80%;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
    padding: 5px 10px;
    background: rgb(47,93,197);
    // background: linear-gradient(160deg, rgba(47,93,197,1) 0%, rgba(46,86,194,1) 5%, rgba(47,93,197,1) 11%, rgba(59,190,230,1) 57%, rgba(0,212,255,1) 71%);
    background: linear-gradient(160deg, #5e5e5e 0%, #848484 5%, #515151 11%, #1d1d1d 57%, #000000 71%);
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 505;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.199));
    transition: .3s linear;
    position: relative;
    bottom: 76%;
    left: 90%;
  }
  
  .botao .mysvg {
    display: none;
  }
  
  .botao:hover {
    width: 3%;
    height: 80%;
    border-radius: 50%;
    transition: .3s linear;
  }
  
  .botao:hover .texto {
    display: none;
  }
  
  .botao:hover .mysvg {
    display: inline;
    position: relative;
    right: 7%;
  }
  
  .botao:hover::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3.5px solid transparent;
    border-top: 3.5px solid #fff;
    border-right: 3.5px solid #fff;
    border-radius: 50%;
    animation: animateC 1s linear infinite;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  


  .input-container {
    width: 45%;
    position: relative;
  }
  
  .icon {
    position: absolute;
    left: 96%;
    cursor: pointer;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  
  .input {
    width: 100%;
    // height: 40px;
    padding: 10px;
    transition: .2s linear;
    // border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -1px -1px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.3);
    }
  }