<!------------------------------------------- Header --------------------------------------------------->
<header class="headerClass">
    <img src="../../assets/icons/logo.png" alt="" class="logoClass">
    <img src="../../assets/icons/Honda_Logo.svg" alt="" class="hondaLogoclass">
</header>

<!------------------------------------------- Dashboard --------------------------------------------------->
<body *ngIf="curr_admin_view == 'Dashboard'" class="bodyClass flex-row-even">
    <div class="leftContainer flex-col-even">
        <div class="upperContainer flex-col-even">
            <img src="../../assets/icons/profile.png" alt="" class="adminProfileClass" (click)="changeView(4)">
            <h2 class="greet">Hi {{userDetails.name}}</h2>
            <p class="greet" style="font-size: 13px;">Employee ID : {{userDetails.userId}}</p>
        </div>
        <div class="lowerContainer">
            <div class="adminFeatureClass flex-col-even">
                <div *ngFor="let imageUrl of feature_logo_list; let i = index" class="adminFeatureContainer flex-row-even" (click)="changeView(i)">
                    <img *ngIf="curr_admin_view != admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsContainer">
                    <img *ngIf="curr_admin_view == admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsContainer shadow">
                    <h4 class="featureContainer greet">{{admin_view_list[i]}}</h4>
                    <!-- <h4 *ngIf="curr_admin_view == admin_view_list[i]" class="featureContainer greet shadow">{{admin_view_list[i]}}</h4> -->
                </div>
                <div class="adminFeatureContainer flex-row-even" (click)="logout()">
                    <img src="../../assets/icons/out.png" alt="" class="iconsContainer">
                    <h4 class="featureContainer greet">Logout</h4>
                </div>
            </div>
        </div>
        <p class="greet f-10">V 1.0</p>
    </div>
    <div class="rightContainer">
        <div class="upperRightContainer flex-row-even">
            <div class="pending_data_container_dashboard flex-row-even">
                <!-- <h4 class="greet w-25">Date/Time</h4> -->
                <h3 class="greet w-15">{{pending_report_list[0].job_id}}</h3>
                <h3 class="greet w-30">{{pending_report_list[0].date_time}}</h3>
                <h3 class="greet w-45">Inspection of {{pending_report_list[0].vehicle_name}} 125cc</h3>
                <h4 class="greet w-10 link" style="font-size: 14px;" (click)="viewReport(0, pending_report_list[0].job_id)">Preview</h4>
            </div>
            <h4 class="link greet" (click)="goToPendingReport()">See All</h4>
        </div>
        <div class="middleRightContainer flex-row-even">
            <div class="adminDashboardChart1">
                <h3 class="chartHeading">Past 7 days Analysis</h3>
                <div class="charts" id="chart1"></div>
            </div>
            <div class="adminDashboardChart2"></div>
        </div>
        <div class="lowerRightContainer"></div>
    </div>
</body>

<!------------------------------------------- Pending Report --------------------------------------------------->
<body *ngIf="curr_admin_view == 'Pending Report'" class="bodyClass flex-row-even">
    <div class="leftContainerClass flex-col-even">
        <div class="upperContainer flex-col-even">
            <img src="../../assets/icons/profile.png" alt="" class="smallProfileClass" >
            <h4 class="greet" style="font-size: 12px; text-align: center;">Hi {{userDetails.name}}</h4>
            <!-- <p class="greet" style="font-size: 8px; width: 90%;">Employee ID : HSA12345</p> -->
        </div>

        <div class="lowerContainer">
            <div class="adminFeatureClass">
                <div *ngFor="let imageUrl of feature_logo_list; let i = index" class="adminFeatureContainer flex-col-even" (click)="changeView(i)">
                    <img *ngIf="curr_admin_view != admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer">
                    <img *ngIf="curr_admin_view == admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer shadow">
                </div>
                <div class="adminFeatureContainer flex-row-even" (click)="logout()">
                    <img src="../../assets/icons/out.png" alt="" class="iconsLeftContainer">
                </div>
            </div>
        </div>
        <p class="greet f-10">V 1.0</p>
    </div>
    <div *ngIf="!inspection_report_flag" class="rightContainerClass">
        <h1 class="greet pending_report_header">Pending Reports for Approval</h1>
        <div class="pending_report_outer_container">
            <div *ngFor="let value of pending_report_list; let i = index" class="pending_report_container flex-row-even">
                <div class="pending_data_container flex-row-even">
                    <!-- <h4 class="greet w-25">Date/Time</h4> -->
                    <h3 class="greet w-15">{{value.job_id}}</h3>
                    <h3 class="greet w-30">{{value['date_time']}}</h3>
                    <h3 class="greet w-45">Inspection of {{value.vehicle_name}} 125cc</h3>
                    <h4 class="greet w-10 link" style="font-size: 14px;" (click)="viewReport(i, value.job_id)">Preview</h4>
                </div>
                <div class="btnContainer flex-row-even">
                    <img class="h-100" src="../../assets/icons/yes.png" alt="" (click)="approveToggle(i+1)">
                    <img class="h-100" src="../../assets/icons/delete.png" alt="" (click)="rejectToggle(i+1)">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="inspection_report_flag" class="rightContainerClass flex-row-even">
        <!-- <div></div>
        <div></div> -->
        <div class="pendingReportsDetails flex-col-even">
            <div class="innerReportDetails flex-row-even">
                <div class="checkPointsImgClass flex-col-even">
                    <img src="../../assets/icons/check.png" alt="" class="iconClass">
                    <img src="../../assets/icons/x-button.png" alt="" class="iconClass">
                    <img src="../../assets/icons/clipboard.png" alt="" class="iconClass">
                </div>
                <div class="checkPointsTextClass flex-col-even">
                    <h3 class="textClass" style="color: #1CD667;">Success Checks</h3>
                    <h3 class="textClass" style="color: #FF0000;">Failed Checks</h3>
                    <h3 class="textClass" style="color: #000000;">Total Checks</h3>
                </div>
                <div class="checkPointsCountClass flex-col-even">
                    <h3 class="countClass" style="color: #1CD667;">{{success_checkpoints}}</h3>
                    <h3 class="countClass" style="color: #FF0000;">{{failed_checkpoints}}</h3>
                    <h3 class="countClass" style="color: #000000;">{{success_checkpoints + failed_checkpoints}}</h3>
                </div>
            </div>
            <div class="innerChartDetails flex-row-even">
                <div class="pie_chart" id="chart2"></div>
                <div class=""></div>
            </div>
        </div>
        <div class="pendingReportTable">
            <div *ngFor="let item of pending_parts_list; let i = index" class="partContainer">
                <h3 class="ff partName">
                  <input type="checkbox" id="part_name_{{i}}" name="part_name" #partCheckbox (change)="toggleSubParts(partCheckbox.checked, i)">
                  <span style="margin-left: 10px;">{{item}}</span>
                </h3>
                <br><br>
                <div *ngFor="let subpart of pending_subparts_list[i]; let j = index" class="subPartContainer">
                  <input type="checkbox" id="{{subpart.id}}" name="{{subpart.part_code_name}}" class="pending_report_checkbox" [(ngModel)]="subpart.checked">
                  <p class="pending_report_subPartName">{{subpart.part_code_name}}</p>
                  <p class="pending_report_subPartStatus">{{subpart.result}}</p>
                  <p class="pending_report_subPartImage link" (click)="viewPendingSubPartImage(subpart.image)">Image</p>
                </div>
            </div>
        </div>
        <button class="submitBtnSize bg-color_green" (click)="submitPendingReport()">Re-Inspect</button>
        <button class="backBtnSize bg-color_black" (click)="goToPendingReport()">Back</button>
    </div>

    <div *ngIf="approval_flag" class="overlay">
        <div class="warningContainer flex-col-even">
            <div class="warning_inner_container flex-col-even">
                <h1>Do you really want to Approve ?</h1>
            </div>
            <div class="warning_inner_container flex-row-even">
                <button class="btnSize bg-color_green" (click)="reportApproved(true)">Yes</button>
                <button class="btnSize bg-color_red" (click)="reportApproved(false)">No</button>
            </div>
        </div>
    </div>
    <div *ngIf="reject_flag" class="overlay">
        <div class="warningContainer flex-col-even">
            <div class="warning_inner_container flex-col-even">
                <h1>Do you really want to Reject ?</h1>
            </div>
            <div class="warning_inner_container flex-row-even">
                <button class="btnSize bg-color_green" (click)="reportRejected(true)">Yes</button>
                <button class="btnSize bg-color_red" (click)="reportRejected(false)">No</button>
            </div>
        </div>
    </div>
    <div *ngIf="pendingImagePreviewFlag" class="bigger_image flex-col-even" (click)="(pendingImagePreviewFlag = false)">
        <img [src]="curr_pending_view_image" alt="" class="zoomed_image" (click)="$event.stopPropagation()" style="cursor: auto;">
    </div>
</body>

<!------------------------------------------- Report Analysis --------------------------------------------------->
<body *ngIf="curr_admin_view == 'Report Analysis'" class="bodyClass flex-row-even">
    <div class="leftContainerClass flex-col-even">
        <div class="upperContainer flex-col-even">
            <img src="../../assets/icons/profile.png" alt="" class="smallProfileClass" >
            <h4 class="greet" style="font-size: 12px; text-align: center;">Hi {{userDetails.name}}</h4>
            <!-- <p class="greet" style="font-size: 8px; width: 90%;">Employee ID : HSA12345</p> -->
        </div>

        <div class="lowerContainer">
            <div class="adminFeatureClass">
                <div *ngFor="let imageUrl of feature_logo_list; let i = index" class="adminFeatureContainer flex-col-even" (click)="changeView(i)">
                    <img *ngIf="curr_admin_view != admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer">
                    <img *ngIf="curr_admin_view == admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer shadow">
                </div>
                <div class="adminFeatureContainer flex-row-even" (click)="logout()">
                    <img src="../../assets/icons/out.png" alt="" class="iconsLeftContainer">
                </div>
            </div>
        </div>
        <p class="greet f-10">V 1.0</p>
    </div>
    <div class="rightContainerClass flex-col-even">
        <div class="searchContainer flex-col-even">
            <div *ngIf="!report_page_flag && !report_page_flag_detail" class="searchByDate">
                <h2 id="subHeading1">Search By Date</h2>
                <div id="datePick">
                    <div id="date">
                        <label for="start-date">Start Date: &nbsp;&nbsp;</label>
                        <input autocomplete="off" id="start-date"/>
                    </div>
                    
                    <div id="date">
                        <label for="end-date">End Date: &nbsp;&nbsp;</label>
                        <input autocomplete="off" id="end-date"/>
                    </div>
                </div>
            
                <div id="timePick">
                    <div id="time">
                        <label for="start-time">Start Time: &nbsp;&nbsp;</label>
                        <input type="time" autocomplete="off" [(ngModel)]="startTime" id="start-time" value="start time"/>
                    </div>
                    
                    <div id="time">
                        <label for="end-time">End Time: &nbsp;&nbsp;</label>
                        <input type="time" autocomplete="off" [(ngModel)]="endTime"  id="end-time"  value="end time"/>
                    </div>
                </div>
            
                <button id="searchButton" class="btn btn-primary" (click)="searchDateTime()">Search</button>
            </div>

            <div *ngIf="!report_page_flag && !report_page_flag_detail" class="searchById flex-col-even">
                <h2 id="subHeadingId">Search By JOB ID</h2>
                <div class="idSearchContainer flex-row-even shadow">
                    <div class="innerSearchContainer flex-row-even">
                        <p style="font-size: 1.4rem;">JOB ID : </p>
                        <div class="input-container">
                            <input type="text" name="text" class="input" placeholder="Job ID..." id="jobID" (keydown.enter)="searchByJobId()">
                            <span class="icon" (click)="searchByJobId()"> 
                            <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="report_page_flag && !report_page_flag_detail" class="reportDataClass">
                <div class="report_analysis_table flex-col-even">
                    <div class="table_head">
                        <!-- <button class="backBtnSize bg-color_black" (click)="goToSearchReport()">Back</button> -->
                        <button class="Btn">
                            <div class="sign">
                                <svg viewBox="0 0 512 512">
                                    <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
                                </svg>
                            </div>
                            <div class="text" (click)="goToSearchReport()">Back</div>
                        </button>
                        <h3 class="report_table_header">DATABASE</h3>
                        <p class="date_range">Date : {{startDate}} &nbsp; to &nbsp; {{endDate}}</p>
                    </div>
                    <div *ngIf="!data_not_found" class="table_body">
                        <div class="report_header_class flex-row-even">
                            <p style="position: relative; right: 8.8%;">Job ID</p>
                            <p style="position: relative; right: 11%;">Date/Time</p>
                            <p style="position: relative; right: 2%;">Inspected Vehicle</p>
                            <p style="position: relative; left: 1%;">Inspected By</p>
                        </div>
                        <div *ngFor="let value of dataFromDb; let i = index" class="table_row flex-row-even">
                            <div class="report_data_container flex-row-even">
                                <!-- <h4 class="greet w-25">Date/Time</h4> -->
                                <h3 class="greet w-10">{{value.job_id}}</h3>
                                <h3 class="greet w-30">{{value.date_time}}</h3>
                                <h3 class="greet w-45">Inspection of {{value.vehicle_name}} 125cc</h3>
                                <h3 class="greet w-15">Operator123</h3>
                                <h4 class="greet w-10 link" style="font-size: 10px;" (click)="viewDetailsUsingJobId(value.job_id)">Preview</h4>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="data_not_found" class="table_body flex-col-even">
                        <h1 style="font-size: 60px; color: rgb(182, 16, 16);">No data found in the Database !</h1>
                    </div>
                </div>
            </div>

            <div *ngIf="!report_page_flag && report_page_flag_detail" class="reportDataClass flex-col-even">
                <div class="report_table_class">
                    <table>
                        <thead style="text-align: center; background-color: #0575E6; color: white; position: sticky; top: 0%; height: 37px; z-index: 10;">
                            <tr style="background-color: #0575E6;">
                                <th>PartName</th>
                                <th>ID</th>
                                <th>Subparts</th>
                                <th>Status</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let key of pending_report_list_details | keyvalue">
                                <td>
                                    <b>{{ key.key  }}</b>
                                </td>
                                <td>
                                    <ng-container *ngFor="let item of key.value">
                                        <div class="subparts">{{ item.id }}</div>
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngFor="let item of key.value">
                                        <div class="subparts">{{ item.part_code_name }}</div>
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngFor="let item of key.value">
                                        <div class="subparts">{{item.result}}</div>
                                        <!-- <div *ngIf="!item.result" class="subparts">Failed</div> -->
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngFor="let item of key.value">
                                        <div class="subparts img_class" style="cursor: pointer;" (click)="view_image(item.image)">Preview</div>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="buttonContainer">
                    <!-- <button class="backBtnSizeToReport bg-color_black" (click)="goToSearchReport()">Back</button> -->
                    <button class="Btn" (click)="goToSearchReport()">
                        <div class="sign">
                            <svg viewBox="0 0 512 512">
                                <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
                            </svg>
                        </div>
                        <div class="text" (click)="goToSearchReport()">Back</div>
                    </button>
                    <button class="botao" (click)="generate_excel()">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mysvg"><g id="SVGRepo_bgCarrier" stroke-width="0">
                          </g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                             <g id="Interface / Download"> 
                             <path id="Vector" d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" stroke="#f1f1f1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                             </path>
                          </g> </g>
                        </svg>
                        <span class="texto">Excel</span>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="reportImagePreviewFlag" class="bigger_image flex-col-even" (click)="(reportImagePreviewFlag = false)">
                <img [src]="curr_report_view_image" alt="" class="zoomed_image" (click)="$event.stopPropagation()" style="cursor: auto;">
        </div>
    </div>
</body>

<!------------------------------------------- Camera --------------------------------------------------->
<body *ngIf="curr_admin_view == 'Camera'" class="bodyClass flex-row-even">
    <div class="leftContainerClass flex-col-even">
        <div class="upperContainer flex-col-even">
            <img src="../../assets/icons/profile.png" alt="" class="smallProfileClass" >
            <h4 class="greet" style="font-size: 12px; text-align: center;">Hi {{userDetails.name}}</h4>
            <!-- <p class="greet" style="font-size: 8px; width: 90%;">Employee ID : HSA12345</p> -->
        </div>

        <div class="lowerContainer">
            <div class="adminFeatureClass">
                <div *ngFor="let imageUrl of feature_logo_list; let i = index" class="adminFeatureContainer flex-col-even" (click)="changeView(i)">
                    <img *ngIf="curr_admin_view != admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer">
                    <img *ngIf="curr_admin_view == admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer shadow">
                </div>
                <div class="adminFeatureContainer flex-row-even" (click)="logout()">
                    <img src="../../assets/icons/out.png" alt="" class="iconsLeftContainer">
                </div>
            </div>
        </div>
        <p class="greet f-10">V 1.0</p>
    </div>
    <div class="rightContainerClass flex-col-even">
        <div class="camDetail_container flex-col-even shadow">
            <h2 class="greet camera_header">Enter Camera Credentials</h2>
            <div class="flex-row w-50">
                <label for="user">User ID : </label>
                <input type="text" name="user" id="user" class="inputClass" value="" placeholder="Enter User Id" required>
            </div>
            <div class="flex-row w-50">
                <label for="pass">Password : </label>
                <input type="password" name="pass" id="pass" class="inputClass" value="" placeholder="Password" required>
            </div>
            <div class="flex-row w-50">
                <label for="ip">Cam IP : </label>
                <input type="text" name="ip" id="ip" class="inputClass" placeholder="192.168.x.x" required>
            </div>
            <div class="flex-row w-50">
                <label for="port">Port : </label>
                <input type="text" name="port" id="port" class="inputClass" value="554" style="cursor: not-allowed;" required readonly>
            </div>
            <!-- <div class="flex-row w-50">
                <label for="user">RTSP: </label>
                <input type="text" name="rtspLink" id="rtspLink" class="inputClass"  required readonly >
            </div> -->
            <input type="submit" class="submitBtn" value="Submit" (click)="addCam()">
        </div>
    </div>
</body>

<!------------------------------------------- Profile --------------------------------------------------->
<body *ngIf="curr_admin_view == 'Profile'" class="bodyClass flex-row-even">
    <div class="leftContainerClass flex-col-even">
        <div class="upperContainer flex-col-even">
            <img src="../../assets/icons/profile.png" alt="" class="smallProfileClass" >
            <h4 class="greet" style="font-size: 12px; text-align: center;">Hi {{userDetails.name}}</h4>
            <!-- <p class="greet" style="font-size: 8px; width: 90%;">Employee ID : HSA12345</p> -->
        </div>

        <div class="lowerContainer">
            <div class="adminFeatureClass">
                <div *ngFor="let imageUrl of feature_logo_list; let i = index" class="adminFeatureContainer flex-col-even" (click)="changeView(i)">
                    <img *ngIf="curr_admin_view != admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer">
                    <img *ngIf="curr_admin_view == admin_view_list[i]" [src]="'../../assets/icons/' + imageUrl" alt="" class="iconsLeftContainer shadow">
                </div>
                <div class="adminFeatureContainer flex-row-even" (click)="logout()">
                    <img src="../../assets/icons/out.png" alt="" class="iconsLeftContainer">
                </div>
            </div>
        </div>
        <p class="greet f-10">V 1.0</p>
    </div>
    <div class="rightContainerClass flex-col-even">
        <div class="wholeRightContainer flex-row-even">
            <div class="infoContainer flex-row-even">
                <div class="profileInfo flex-col-even shadow">
                    <div class="profileInfoUpper flex-col-even">
                        <img src="../../assets/icons/profile.png" alt="">
                    </div>
                    <div class="changePasswordContainer flex-col-even">
                        <h3 class="greet">Name : {{userDetails.name}}</h3>
                        <h3 class="greet">User ID : {{userDetails.userId}}</h3>
                        <h3 class="greet">Designation : {{userDetails.designation}}</h3>
                    </div>
                </div>
                <div class="profileInfo flex-col-even shadow">
                    <h2 class="greet">Change Password</h2>
                    <div class="changePasswordContainerClass flex-col-even">
                        <div class="login_input">
                            <div class="form__group field">
                                <input type="password" class="form__field" placeholder="Name" name="name" id='name' required autocomplete="off" />
                                <label for="name" class="form__label">Old Password</label>
                                <img *ngIf="!passwordView[0]" src="../../assets/icons/view.png" alt="" class="viewPasswordClass" (click)="viewPassword('name', 0)">
                                <img *ngIf="passwordView[0]" src="../../assets/icons/close-eye.png" alt="" class="viewPasswordClass" (click)="closePassword('name', 0)">
                            </div>
                            <div class="password__group field">
                                <input type="password" class="password__field" placeholder="Password" name="password1" id='password' required autocomplete="off" />
                                <label for="password" class="form__label">New Password</label>
                                <img *ngIf="!passwordView[1]" src="../../assets/icons/view.png" alt="" class="viewPasswordClass" (click)="viewPassword('password', 1)">
                                <img *ngIf="passwordView[1]" src="../../assets/icons/close-eye.png" alt="" class="viewPasswordClass" (click)="closePassword('password', 1)">
                            </div>
                            <div class="password__group field" (keydown.enter)="changePassword()">
                                <input type="password" class="Cnfpassword__field" placeholder="cnfPassword" name="password2" id='password2' required autocomplete="off" />
                                <label for="password2" class="form__label">Confirm Password</label>
                                <img *ngIf="!passwordView[2]" src="../../assets/icons/view.png" alt="" class="viewPasswordClass" (click)="viewPassword('password2', 2)">
                                <img *ngIf="passwordView[2]" src="../../assets/icons/close-eye.png" alt="" class="viewPasswordClass" (click)="closePassword('password2', 2)">
                            </div>
                        </div>
                        <button class="changePasswordBtn" (click)="changePassword()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

