<div class="main-container">
    <!-- Super User Dashboard -->
    <div class="dashboard-container">
        <div class="header">
            <div class="header-container">
                <img class="deevia-logo " src="../../assets/Deevia-logo.png" alt="deevia-logo">
                <div class="header-heading">Super-User Dashboard</div>
                <img class="honda-logo" src="../../assets/Honda Logo.png" alt="honda-logo">
            </div>
        </div>
        <div class="nav-bar">
            <div class="nav-bar-container">
                <div class="allOptions">
                    <img class="icon-home" src="../../assets/home.png" alt="home">
                    <img class="icon-add-friend" src="../../assets/add-friend.png" alt="add-friend">
                    <img class="icon-video" src="../../assets/video (1).png" alt="video">
                    <img class="icon-clock" src="../../assets/clock.png" alt="clock">
                </div>
                <div class="logout">
                    <img class="check-out" src="../../assets/check-out.png" alt="check-out">
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="main-body-container">
                <div class="active_users">
                    <div class="active_card">
                        <div class="card_header">
                            <img class="card_header_logo" src="../../assets/admin.png" alt="">
                            <span class="head_text">Active Admin</span>
                        </div>
                       <div class="card_data"></div>
                    </div>
                    <div class="active_card">
                        <div class="card_header">
                            <img class="card_header_logo" src="../../assets/worker.png" alt="">
                            <span class="head_text">Active Operator</span>
                        </div>        
                        <div class="card_data"></div>
                    </div>
                </div>
                <div class="lastweek_graph">

                </div>
                <div class="overall_report"></div>
                <div class="tabular_data">
                    
                </div>
            </div>
        </div>
    </div>
</div>