<div class="main-container">
    <!--! Super User Dashboard -->
    <div class="superuser-container">
        <div class="header">
            <div class="header-container">
                <img class="deevia-logo " src="../../assets/Deevia-logo.png" alt="deevia-logo">
                <div class="header-heading">Super-User Dashboard</div>
                <img class="honda-logo" src="../../assets/Honda Logo.png" alt="honda-logo">
            </div>
        </div>
        <div class="nav-bar">
            <div class="nav-bar-container">
                <div class="allOptions">
                    <img class="icon-home" src="../../assets/home.png" alt="home" (click)="changeOptions('home')">
                    <img class="icon-add-friend" src="../../assets/add-friend.png" alt="add-friend" (click)="changeOptions('add_del')">
                    <img class="icon-video" src="../../assets/video (1).png" alt="video" (click)="changeOptions('cam_details')">
                    <img class="icon-clock" src="../../assets/clock.png" alt="clock" (click)="changeOptions('report')">
                </div>
                <div class="logout">
                    <img class="check-out" src="../../assets/check-out.png" alt="check-out" (click)="logout()">
                </div>
            </div>
        </div>
        <div class="main-body">
            <!--! Dashboard Container  -->
            <div class="dashboard-container" *ngIf="dashboardFlag">
                <div class="top_container">
                    <div class="active_users">
                        <div class="active_card">
                            <div class="card_header">
                                <img class="card_header_logo" src="../../assets/admin.png" alt="">
                                <span class="head_text">No. of Admin</span>
                            </div>
                            <div class="card_data">
                                <span class="card_value">21</span>
                            </div>
                        </div>
                        <div class="active_card">
                            <div class="card_header">
                                <img class="card_header_logo" src="../../assets/worker.png" alt="">
                                <span class="head_text">No. of Operator</span>
                            </div>
                            <div class="card_data">
                                <span class="card_value">42</span>
                            </div>
                        </div>
                    </div>
                    <div class="lastweek_graph">
                        <div class="graph_container">
                            <div class="graph_top_area">
                                <div class="graph_title">Total Inspection</div>
                                <select class="select_option" name="" id="">
                                    <option value="">All Vehicle</option>
                                    <option value="">Vehicle 1</option>
                                    <option value="">Vehicle 2</option>
                                    <option value="">Vehicle 3</option>
                                </select>
                            </div>
                            <div class="graph_area" id="graph_area1" style="height: 32vh; width: 97%"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom_container">
                    <div class="overall_report">
                        <div class="report_head"></div>
                        <div class="report_container">
                            <div class="report_graph"></div>
                            <div class="report_data"></div>
                        </div>
                    </div>
                    <div class="tabular_data"></div>
                </div>
            </div>
            <!--! Camera Details Page  -->
            <div class="cameraDetails" *ngIf="addCam">
                <div class="cameraDetails_container">
                    <div class="cameraDetailsHeading">Enter Camera Details</div>
                    <div class="cameraDetailsForm">
                        <div class="form__group field">
                            <label for="name" class="form__label">Camera IP :</label>
                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                autocomplete="off" />
                        </div>
                        <br>
                        <div class="form__group field">
                            <label for="name" class="form__label">User ID :</label>
                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                autocomplete="off" />
                        </div>
                        <br>
                        <div class="form__group field">
                            <label for="password" class="form__label">Password</label>
                            <input type="password" class="form__field" placeholder="Name" name="name" id='name' required
                                autocomplete="off" />
                        </div>
                        <br>
                        <div class="form__group field">
                            <label for="name" class="form__label">Port :</label>
                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                autocomplete="off" />
                        </div>
                        <br>
                        <div class="form__group field">
                            <label for="name" class="form__label">RTSP :</label>
                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                autocomplete="off" />
                        </div>
                        <br>
                        <div class="login_button" (click)="submitCamDetails()">Submit</div>
                    </div>
                </div>
            </div>

            <!--! Edit/Create Users Page For Admin-->
            <div class="edit_create_users" *ngIf="addUser">
                <div class="editUsersContainer">
                    <!--! Triggers when the admin options is true  -->
                    <div class="selectToogleOptions" *ngIf="toogleOptionsAddDel">
                        <div class="toggleOptionsL_Selected" (click)="toogleOptions()">Admin</div>
                        <div class="toggleOptionsR" (click)="toogleOptions()">Operator</div>
                    </div>
                    <!--! Triggers When then Operator options is true  -->
                    <div class="selectToogleOptions" *ngIf="!toogleOptionsAddDel">
                        <div class="toggleOptionsL" (click)="toogleOptions()">Admin</div>
                        <div class="toggleOptionsR_Selected" (click)="toogleOptions()">Operator</div>
                    </div>
                    <!-- !This is add and delete opetator sytle  -->
                    <div class="add_delete_Admin" *ngIf="add_delete_operator_flag">
                        <div class="add_container">
                            <div class="ec_container">
                                <div class="userDetails_container">
                                    <div class="cameraDetailsHeading">Create New Admin</div>
                                    <div class="cameraDetailsForm">
                                        <div class="form__group field">
                                            <label for="name" class="form__label">Name :</label>
                                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="name" class="form__label">User ID :</label>
                                            <input type="input" class="form__field" placeholder="Name" name="name" id='name2' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="password" class="form__label">Password</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name" id='password1' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="name" class="form__label">Confirm Password :</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name" id='password2' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <br>
                                        <div class="login_button" (click)="createNewAdmin()">Submit</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="delete_container">
                            <div class="ec_container">
                                <div class="userDetails_container">
                                    <div class="cameraDetailsHeading">Change Admin Password</div>
                                    <div class="cameraDetailsForm">
                                        <div class="form__group field">
                                            <label for="name" class="form__label">Enter ID :</label>
                                            <input type="input" class="form__field" placeholder="Name" name="name" required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="password" class="form__label">Password</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name"  required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="password" class="form__label">Confirm Password</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name" required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <br>
                                        <div class="login_button" (click)="editAdmin()">Create</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- !This is add and delete opetator sytle  -->
                    <div class="add_delete_Operator" *ngIf="!add_delete_operator_flag">
                        <div class="add_container">
                            <div class="ec_container">
                                <div class="userDetails_container">
                                    <div class="cameraDetailsHeading">Create New Operator</div>
                                    <div class="cameraDetailsForm">
                                        <div class="form__group field">
                                            <label for="name" class="form__label">Name :</label>
                                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="name" class="form__label">User ID :</label>
                                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="password" class="form__label">Password</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="name" class="form__label">Confirm Password :</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <br>
                                        <div class="login_button" (click)="createNewAdmin()">Submit</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="delete_container">
                            <div class="ec_container">
                                <div class="userDetails_container">
                                    <div class="cameraDetailsHeading">Change Operator Password</div>
                                    <div class="cameraDetailsForm">
                                        <div class="form__group field">
                                            <label for="name" class="form__label">Enter ID :</label>
                                            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="password" class="form__label">Password</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <div class="form__group field">
                                            <label for="password" class="form__label">Confirm Password</label>
                                            <input type="password" class="form__field" placeholder="Name" name="name" id='name' required
                                                autocomplete="off" />
                                        </div>
                                        <br>
                                        <br>
                                        <div class="login_button" (click)="editAdmin()">Create</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ! Generate Report  -->
            <div class="report_generation" *ngIf="report">
                <div class="reportGeneratorContainer">

                </div>
            </div>
        </div>

    </div>




</div>