*,html{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0;
    background-color: #303841;
}

.main-container{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #303841;
}

.dashboard-container{
    display: grid;
    background-color: black;
    grid-template-rows: 1fr 15fr;
    grid-template-columns: 1fr 12fr;
    height: 100vh;
    width: 100%;
}




.header{
    display: grid;
    grid-template-rows: 1fr ;    
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #FFFFFF;
    color: #000000;
    opacity: 83%;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deevia-logo{
    height: 4vh;
    width: auto;
    margin: 0.5%;
}

.header-heading{
    font-size: 220%;
    font-weight: 600;
    font-family: 'Inria Sans';
}

.honda-logo{
    height: 4vh;
    width: auto;
    margin: 0.5% 3% 0.5% 0.5%;
}



.nav-bar{
    background-color: #303841;
    grid-row: 2/3;
    grid-column: 1/2;
}

.nav-bar-container{
    background-color: #1F1830;
    border-radius: 10px;
    height: 98%;
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.allOptions{
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
    height: 80%;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.icon-home{
    height: 6vh;
    width: auto;
    margin: 38% 0 25% 0;
}

.icon-add-friend{
    height: 6vh;
    width: auto;
    margin: 25% 0 25% 0;
}

.icon-video{
    height: 6vh;
    width: auto;
    margin: 25% 0 25% 0;
}

.icon-clock{
    height: 6vh;
    width: auto;
        margin: 25% 0 25% 0;
}

.check-out{
    height: 6vh;
    width: auto;
        margin: 4% 0 4% 0;
}

.main-body{
    background-color: #303841;
    grid-row: 2/3;
    grid-column: 2/3;
}

.main-body-container{
    background-color: #1F1830;
    border-radius: 10px;
    height: 98%;
    margin: 10px 10px 10px 4px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
}

.active_users{
    background-color: #1F1830;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.active_card{
    height: 36%;
    width: 57%;
    background-color: #3C344E;
    border-radius: 25px;
}

.card_header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}

.card_header_logo{
    height: 10%;
    width: 10%;
}

.head_text{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lastweek_graph{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #30283E;
    border-radius: 10px;

}

.overall_report{
    background-color: #30283E;
    grid-row: 2/3;
    grid-column: 1/2;
    border-radius: 10px;

}

.tabular_data{
    background-color: #30283E;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-auto-flow: row dense;
    border-radius: 10px;
}

